.pi{
    background-color: red;
}
#main{
    background-color: red;
    color: aqua;
}
.img{
    width: 200px;
    height: 200px;
}
.page{
    background-color: red;
    color: aqua;
}
#h1{
    color: red;
}