.App {
  text-align: center;
  border: 2px solid red;
}



/*@media (prefers-reduced-motion: no-preference) {
 
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 /* align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  flex-basis: 6vh;
}
.header section{
  border: 1px solid blue;
}
.body{
  display: flex;
  border: 1px solid green;
  flex-basis: 90vh;
}
.App-link {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
